{% extends "base.html" %}
{% block title %}Tider för {{ worker.first_name }} {{ worker.last_name }}{% endblock %}
{% block content %}
<h2>Tider för {{ worker.first_name }} {{ worker.last_name }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Incheckning</th>
            <th>Utcheckning</th>
            <th>Arbetad Tid</th>
            <th>Rasttid</th>
            <th>Lunchtid</th>
        </tr>
    </thead>
    <tbody>
        {% for timestamp in timestamps %}
        <tr>
            <td>{{ timestamp.clock_in.strftime('%Y-%m-%d') }}</td>
            <td>{{ timestamp.clock_in.strftime('%H:%M') }}</td>
            <td>{{ timestamp.clock_out.strftime('%H:%M') if timestamp.clock_out else '' }}</td>
            <td>
                {% if timestamp.clock_out %}
                {{ (timestamp.clock_out - timestamp.clock_in).seconds|format_worked_hours }}
                {% endif %}
            </td>
            <td>{{ timestamp.break_duration }} min</td>
            <td>{{ timestamp.lunch_duration }} min</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin_dashboard') }}" class="btn btn-warning">Tillbaka</a>
{% endblock %}